<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-signin') do |f| %>
  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
  <%= f.input :login,
              required: false,
              autofocus: true,
              label: false,
              placeholder: 'Digite sua conta' %>
  <%= f.input :password,
              required: false,
              label: false,
              input_html: { autocomplete: "current-password" },
              placeholder: 'Senha' %>
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  <div class="d-grid gap-2">
    <button class="btn btn-success btn-block" type="submit"><i class="bi bi-arrow-bar-right"></i> Sign in</button>
  </div>
  <hr>
  <%= render "devise/shared/links" %>
<% end %>