<%= simple_form_for [:admin, @user] do |f| %>
  <%= f.input :name %>
  <%= f.input :email, required: true %>
  <% if @user.new_record? %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  <% end %>
  <%= f.input :message %>
  <%= f.button :submit, 'Salvar', class: 'btn btn-primary mt-2' %>
<% end %>