<div class="content-wrapper">
  <%= render partial: 'shared/admin/page_title', locals: { title: 'Cliente' } %>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="m-0">Novo</h5>
            </div>
            <div class="card-body">
              <%= render 'form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
