


<div class="content-wrapper">
  <%= render partial: 'shared/admin/page_title', locals: { title: 'Cliente' } %>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="m-0">Detalhes</h5>
            </div>
            <div class="card-body">
              <p>
                <strong><%= I18n.t('activerecord.attributes.user.name') %>:</strong>
                <%= @user.name %>
              </p>
              <p>
                <strong><%= I18n.t('activerecord.attributes.user.email') %>:</strong>
                <%= @user.email %>
              </p>
              <p>
                <strong><%= I18n.t('activerecord.attributes.user.account') %>:</strong>
                <%= @user.account %>
              </p>
              <p>
                <strong><%= I18n.t('activerecord.attributes.user.created_at') %>:</strong>
                <%= l @user.created_at, format: :short %>
              </p>
<p>
                <strong><%= I18n.t('activerecord.attributes.user.message') %>:</strong>
                <%= @user.message %>
              </p>

              <%= link_to 'Voltar', admin_users_path, class: 'btn btn-primary'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
