<!DOCTYPE html>
<html>
  <head>
    <title>Internet Banking - CashWay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <%= stylesheet_link_tag 'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>

  <body class='hold-transition sidebar-mini'>
    <div class="wrapper">
      <!-- Navbar -->
      <%= render 'shared/admin/navbar'%>
      <!-- Aside -->
      <%= render 'shared/admin/aside'%>

      <%= yield %>

      <!-- Control Sidebar -->
      <%= render 'shared/admin/right_sidebar' %>
      <!-- Main Footer -->
      <%= render 'shared/admin/footer' %>
      <%= render 'shared/admin/alert' %>
    </div>
  </body>
</html>
